@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans", serif;
    font-size: 16px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.801);
    list-style: none;
}

body {
    margin: 2rem 15rem;
    border: 2px solid black;
}

ul {
    padding-left: 0;
}

.flex-container {
    display: flex;
}

.navbar {
    justify-content: space-between;
    align-items: center;
    margin: 1em 2em 0 2em;
    
}

.navbar-links {
    justify-content: end;
    gap: 2em;
}

.navbar-links a {
    font-size: 1.5em;
}

#my-name {
    font-size: 1.5em;
    font-weight: 600;
}

.title {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 7em 0 8rem 0;
    border-bottom: 2px solid black;
}

.title > * {
    padding: .5rem;
}

.title h1 {
    font-size: 3.5em;
    font-weight: 700;
}

.main {
    justify-content: space-between;
    height: auto;
}

.main-outer-section {
    flex: 1;
    padding: 1em;
}

.main-outer-section h2 {
    font-size: 1.5em;
    padding-bottom: .5em;
}

.main-middle-section {
    flex: 2;
    flex-direction: column;
    justify-content: start;
    /* padding: 1em; */
}

.projects-list li {
    font-size: 1.25em;
    font-weight: 500;
    padding: .5em 0 .25em 1em;
    border-bottom: 2px solid black;
}

#projects {
    border-right: 2px solid black;
}

#work-experience {
    border-bottom: 2px solid black;
    padding: 1em;
}

#education {
    border-left: 2px solid black;
}

#opensource {
    padding: 1em;
}